{% extends "flango_base.html" %}
	


{% block body %}
	
	<script>
		
		function postForm() {
			
			$.ajax({
				type: "POST",
				data: $("#object_form").serializeArray(),
				success: postSuccess
				});
		}
	</script>
	
	<div class="flango_header">
		<h1>
		Object: {{ title }}
		</h1>
	</div>
	
	<div style="padding:10px"> 
	

	
	<table style="border-collapse: separate; border-spacing: 30px">
		
	<tr>
	
	<td valign="top" width="50%">
	<form role="form" id="object_form">
		{% csrf_token %}
		
		{% for field in form %}
			<div class="form-group">
		    	<label>{{ field.title }}</label>
		    	{{ field.input|safe }}
		  	</div>
		{% endfor %}
		  	
		 <button type="button" class="btn btn-primary" onclick="postForm();">Save</button>
		 <button type="button" class="btn btn-success" onclick="edit('{{obj.pk}}')">Add Field</button>
	</form>
	
	</td>
	
	<td valign="top">
	<table class="table">
		<thead>
		<tr>
			<td>
			Field Name
			</td>
			
			<td>
			Field Type
			</td>
			
			<td>
			Mandatory
			</td>
		</tr>
		</thead>
		
		{% for field in class_fields %}
			<tr>
			<td>
			{{ field.field_name }}
			</td>	
			<td>
			{{ field.field_type }}	
			</td>	
			
			<td>
				{{ field.mandatory }}	
			</td>
			
			<td>
				<button type="button" class="btn btn-default" onclick="edit('{{obj.pk}}')">Edit</button>
				<td><button type="button" class="btn btn-danger">Delete</button></td>
			</td>
			</tr>
		{% endfor %}
	</td>
	</tr>
	</table>
	</div>
	
{% endblock %}
